/* 
Este css é utilizado par fotmatar uma tela de pesquisa com cabeçalho, menu e lista de itens.
*/
#extrato
{
	width:100%;
	 height:200px;
	 margin-top:30px;
}
#extrato_ano
{
	 width:250px;
	 height:100px;
	 float:left;
}

#extrato_ano fieldset
{
    width:200px;
	height:70px;
	border:#cccccc solid 1px;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size:13px;
	display:inline;
	margin:10px 25px 10px 10px;
	text-align:center;
	border-radius:5px;
}
#extrato_ano legend
{
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size:15px;
	color:#777777;
}

#extrato_ano select
{
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size:16px;
	color:#777777;
	text-align:left;
	width:180px;
	height:32px;
	background:#ECECEC;
	border:#CECECE;
}

#extrato_filtro
{
	 width:320px;
	 height:100px;
	 float:left;
}

#extrato_filtro fieldset
{
    width:280px;
	height:70px;
	border:#cccccc solid 1px;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size:13px;
	display:inline;
	margin:10px 25px 10px 10px;
	text-align:center;
	border-radius:5px;
}
#extrato_filtro legend
{
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size:15px;
	color:#777777;
}

#extrato_filtro select
{
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size:16px;
	color:#777777;
	text-align:left;
	width:260px;
	height:32px;
	background:#ECECEC;
	border:#CECECE;
}
#divfiltro2
{
	 width:550px;
	 height:100px;
	 float:left;
}
#divfiltro2 fieldset
{
    width:345px;
	height:70px;
	border:#cccccc solid 1px;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size:13px;
	display:inline;
	margin:10px 25px 10px 10px;
	text-align:center;
	border-radius:5px;
}
#divfiltro2 legend
{
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size:15px;
	color:#777777;
}
#divfiltro2 select
{
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size:16px;
	color:#777777;
	text-align:left;
	width:360px;
	height:32px;
	background:#ECECEC;
	border:#CECECE;
}
#divfiltro2 input
{
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size:19px;
	color:#777777;
	text-align:center;
	width:163px;
	height:32px;
	border-radius:5px;
	background:#ECECEC;
	border:#CECECE;
	margin-top:8px;
}

#extrato_palavra
{
	 width:550px;
	 height:100px;
	 margin-top:12px;
	 
}

#extrato_palavra fieldset
{
    width:530px;
	height:70px;
	border:#cccccc solid 1px;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size:13px;
	display:inline;
	margin:10px 25px 0px 10px;
	text-align:center;
	border-radius:5px;
}

#extrato_palavra legend
{
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size:15px;
	color:#777777;
}

#extrato_palavra input[type="text"]
{
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size:19px;
	color:#777777;
	text-align:center;
	width:510px;
	height:32px;
	border-radius:5px;
	background:#ECECEC;
	border:#CECECE;
	margin-top:8px;
}
#botao input[type="button"]
{
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size:13px;
	background:#ECECEC;
	color:#777777;
	border:#777777 solid 1px;
	height:32px;
	width:120px;

}
#botao
{
	 width:250px;
	 height:60px;
	 margin-top:10px;  
}





