/* 
Este css é utilizado par fotmatar uma tela de pesquisa com cabeçalho, menu e lista de itens.
*/

#campoArquivo input.arquivo{
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size:1.3em;
	background:#ECECEC;
	color:#777777;
	border:#777777 solid 1px;
	height:32px;
	width:120px;
	border:#cccccc solid 1px;
}
#modalidade {
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size:13px;
	color:#777777;
	margin-left:13px;
}

#modalidade select
{
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size:1.3em;
	color:#777777;
	text-align:left;
	width:320px;
	height:32px;
	background:#ECECEC;
	border:#CECECE;
}
#modalidade fieldset
{
    width:345px;
	height:70px;
	border:#cccccc solid 1px;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	display:inline;
	margin:10px 25px 10px 10px;
	text-align:center;
	border-radius:5px;
}
#modalidade legend
{
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size:15px;
	color:#777777;
}

#pregao_processo
{
	 width:20%;
	 height:100px;
	 float:left;
}
#pregao_processo fieldset
{
    width:80%;
	height:70px;
	border:#cccccc solid 1px;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size:13px;
	display:inline;
	margin:10px 10px 10px 10px;
	text-align:center;
	border-radius:5px;
}
#pregao_processo legend
{
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size:15px;
	color:#777777;
}
#pregao_processo input
{
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size:19px;
	color:#CCC;
	text-align:center;
	width:45%;
	height:32px;
	border-radius:5px;
	background:#ECECEC;
	border:#CECECE;
	margin-top:8px;
}
#pregao_processo input:focus
{
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size:19px;
	color:#777777;
	text-align:center;
}

#data
{
	 width:45%;
	 height:100px;
	 float:left;
}

#data fieldset
{
    width:90%;
	height:70px;
	border:#cccccc solid 1px;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size:13px;
	display:inline;
	margin:10px 10px 10px 10px;
	text-align:center;
	border-radius:5px;
}
#data input[type="text"]
{
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size:19px;
	color:#CCC;
	text-align:center;
	width:30%;
	height:32px;
	border-radius:5px;
	background:#ECECEC;
	border:#CECECE;
	margin-top:8px;
}
#data input[type="text"]:focus
{
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size:19px;
	color:#777777;
	text-align:center;
}
#data legend
{
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size:15px;
	color:#777777;
}
#descricao_incluir
{
	 width:100%;
	 height:250px;
	 clear:both;
	
}
#descricao_incluir fieldset
{
    width:81%;
	height:153px;
	border:#cccccc solid 1px;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size:13px;
	display:inline;
	margin:10px 64px 10px 10px;
	text-align:center;
	border-radius:5px;
}

#descricao_incluir textarea
{
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size:13px;
	color:#777777;
	width:100%;
	height:50px;
	border-radius:5px;
	background:#ECECEC;
	border:#CECECE;
	margin-top:8px;
}
#descricao_incluir legend
{
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size:15px;
	color:#777777;
}

#contadorDescrica
{
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#777777;
    width:650px;
	height:10px;
	margin:0px;
}
