/* 
Este css é utilizado par fotmatar uma tela de pesquisa com cabeçalho, menu e lista de itens.
*/

#cadastradas_ano
{
	 width:400px;
	 height:100px;
}

#cadastradas_ano fieldset
{
    width:345px;
	height:70px;
	border:#cccccc solid 1px;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size:13px;
	display:inline;
	margin:10px 25px 10px 10px;
	text-align:center;
	border-radius:5px;
}
#cadastradas_ano legend
{
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size:15px;
	color:#777777;
}

#cadastradas_ano select
{
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size:16px;
	color:#777777;
	text-align:left;
	width:360px;
	height:32px;
	background:#ECECEC;
	border:#CECECE;
}

#cadastradas_filtro
{
	 width:400px;
	 height:100px;
	 float:left;
}

#cadastradas_filtro fieldset
{
    width:345px;
	height:70px;
	border:#cccccc solid 1px;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size:13px;
	display:inline;
	margin:10px 25px 10px 10px;
	text-align:center;
	border-radius:5px;
}
#cadastradas_filtro legend
{
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size:15px;
	color:#777777;
}
#cadastradas_filtro select
{
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size:16px;
	color:#777777;
	text-align:left;
	width:360px;
	height:32px;
	background:#ECECEC;
	border:#CECECE;
}

#divfiltro
{
	 width:550px;
	 height:100px;
	 float:left;
}
#divfiltro fieldset
{
    width:345px;
	height:70px;
	border:#cccccc solid 1px;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size:13px;
	display:inline;
	margin:10px 25px 10px 10px;
	text-align:center;
	border-radius:5px;
}
#divfiltro legend
{
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size:15px;
	color:#777777;
}
#divfiltro select
{
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size:16px;
	color:#777777;
	text-align:left;
	width:360px;
	height:32px;
	background:#ECECEC;
	border:#CECECE;
}
#divfiltro input
{
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size:19px;
	color:#777777;
	text-align:center;
	width:163px;
	height:32px;
	border-radius:5px;
	background:#ECECEC;
	border:#CECECE;
	margin-top:8px;
}



