/* 
Este css é utilizado par fotmatar uma tela de pesquisa com cabeçalho, menu e lista de itens.
*/
#troca_status
{
	 
	 width:100%;
	 height:120px;
	 margin-top:30px;
}

#status_edital
{
	 width:410px;
	 height:100px;
	 float:left;
}

#status_edital fieldset
{
    width:345px;
	height:70px;
	border:#cccccc solid 1px;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size:13px;
	display:inline;
	margin:10px 25px 10px 10px;
	text-align:center;
	border-radius:5px;
}
#status_edital legend
{
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size:15px;
	color:#777777;
}

#status_edital select
{
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size:16px;
	color:#777777;
	text-align:left;
	width:90%;
	height:32px;
	background:#ECECEC;
	border:#CECECE;
}

#status_ano
{
	 width:250px;
	 height:100px;
	 float:left;
	
}

#status_ano fieldset
{
    width:200px;
	height:70px;
	border:#cccccc solid 1px;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size:13px;
	display:inline;
	margin:10px 25px 10px 10px;
	text-align:center;
	border-radius:5px;
}
#status_ano legend
{
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size:15px;
	color:#777777;
}

#status_ano select
{
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size:16px;
	color:#777777;
	text-align:left;
	width:180px;
	height:32px;
	background:#ECECEC;
	border:#CECECE;
}

#status_situacao
{
	 width:470px;
	 height:100px;
	 float:left;
	 padding:0px;
	 margin:0px;
	
}
.status_situacao
{
	 width:420px;
	 height:30px;
	 margin-left:50px;
	 margin-top:12px;
	
}

#status_situacao fieldset
{
    width:430px;
	height:70px;
	border:#cccccc solid 1px;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size:13px;
	display:inline;
	margin:10px 25px 0px 10px;
	text-align:center;
	border-radius:5px;
}
#status_situacao legend
{
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size:15px;
	color:#777777;
}

.aberto,.encerrado,.suspenso,.todos{
  width: 100px;
  float:left;
  text-align:left;

}




